.footer {
   background-color: black;
}

.footer-container {
   max-width: 1200px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 100px;
   margin: 0 auto;
   align-items: center;
   padding: 120px 20px 80px;
   align-items: center;
}

.footer-texto {
   color: #ccc;
   font-size: 1.5rem;
   line-height: 1.3;
}

.footer-contato,
.footer-contato a {
   font-family: "JetBrains Mono", "Poppins", sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
   color: #fff;
   line-height: 1.5;
}

@media (max-width: 800px) {
   .footer-container {
      grid-template-columns: 1fr;
      gap: 40px;
      padding: 60px 10px 40px;
   }

   .footer-contato {
      font-size: 1rem;
      text-align: center;
   }

   .footer-texto {
      font-size: 1.2rem;
   }
}
