@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@300;400;500;700&display=swap");

body {
   font-family: "Poppins", sans-serif;
   margin: 0px;
   color: #141414;
}

h1,
h2,
h3,
h4,
p {
   margin: 0px;
}

ul {
   margin: 0px;
   padding: 0px;
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}

a {
   text-decoration: none;
   color: #141414;
}

.subtitulo {
   font-size: 8rem;
   font-family: "JetBrains Mono", "Poppins", sans-serif;
   word-break: break-all;
   font-weight: 300;
   line-height: 1;
   text-transform: uppercase;
   max-width: 4ch;
}

@media (max-width: 800px) {
   .subtitulo {
      font-size: 2rem;
      text-transform: capitalize;
      max-width: initial;
      font-weight: 600;
      white-space: nowrap;
   }
}
